@{
    ViewBag.Title = "About";
}
<body style="background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/08/Black-Images-HD-1920x1080.jpg') ">
    <h1 style="color: white; font-style: italic; text-align: center">About Us</h1>
    <p style="color:white;font-style:italic;font-size:30px">
        Pine Valley Furniture Services, Inc.has provided the highest quality rental furniture packages to individuals and businesses for over three decades.
        Whether you need to furnish 1, 2, or 3 bedrooms, we put together the perfect custom package of stylish furniture to fit the needs of each client, providing you with long-term comfort for your short-term stay. We even offer professional relocation services by
        our specialists who can help find your ideal living space according to your budget, area, and size requests.<br />
        
    </p>
    <div style="display: flex; text-align: center;justify-content:center; font-style: italic; font-size: 20px; color: white">
        Location<br />
        United States <br />
        620 Spears Creek Church Rd <br />
        Denton, US 76201<br />
        Email Us&nbsp;&nbsp;
        813-714-8111<br />
        Fax: 800-055-0999<br />
    </div>
</body>