@{
    ViewBag.Title = "Contact";
}
<body style="background-image: url('https://i.pinimg.com/originals/a9/3b/f8/a93bf8ef57311254c4f317b4c74cb725.jpg') ">
    <div style="text-align:center">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="display-1" style="font-family:Freestyle Script;font-size:120px;color:white">Pine Valley Furniture Services</h1>

    </div>
</body>